/* Navbar Container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #3c3f4e;
  padding: 0.5rem 1rem;
  color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center; 
  gap: 1rem; 
}

.logo-text {
  background-color: #ffff00;
  padding: 0.1rem; 
  font-weight: bold;
  font-size: 0.8rem; 
  color: #000;
  text-decoration: none;
  border-radius: 3px; 
}

.navbar-search {
  display: flex;
  align-items: center; 
  background-color: #292c38;
  border-radius: 5px;
  padding: 0.5rem;
}

.navbar-search input {
  border: none;
  background: none;
  color: #fff;
  outline: none;
  padding: 0.5rem;
}

.search-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.post-ad-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.post-ad-button:hover {
  background-color: #0056b3;
}

  