/* Genel Ayarlar */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
.homepage-content {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
}

/* İlan Listesi */
.ilan-listesi {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Yan yana 7 sütun */
  gap: 1rem; /* Elemanlar arasındaki boşluk */
}

.ilan {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.ilan-img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.ilan h2 {
  font-size: 1rem;
  color: #333;
  margin-top: 0.5rem;
}

.details-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

.details-button:hover {
  background-color: #0056b3;
}

/* Giriş ve üyelik alanları */
.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Düğmeler */
.form-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #0056b3; 
}

.switch-button {
  background: none;
  color: #007bff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.switch-button:hover {
  text-decoration: underline;
}

